* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

body {
    background: #262626;

}

header {
    background: #fff;  
    padding: 25px;
}
header > h1 {
    color: #25272e;
    text-align: center; 
}


.score-board {

    border: 3px solid #fff;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto;
    width: 200px;
    color: #fff;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;

}

.badge {
    background: #E2584D;
    color: #fff;
    font-size: 14px;
    padding: 2px 10px;

}

#user-label {

    position: absolute;
    top:30px;
    left: -25px;
}

#comp-label {

    position: absolute;
    top:30px;
    right: -25px;
}

.result {
    font-size: 40px;
    color: #fff;
    
}

.result > p {

    text-align: center;
    font-weight: bold;
}

.choices {
    margin-top: 50px; 
    text-align: center;

}

.choice {
    border: 4px solid #fff;
    display: inline-block;
    margin: 0 20px;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s ease;

}

.choice:hover {
    cursor: pointer;
    background:#0d0d0d;

}

.message {
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.green-glow {
    border: 4px solid #17ff4d;
    box-shadow: 0 0 10px #00c92f;

}


.red-glow {
    border: 4px solid #ff3333;
    box-shadow: 0 0 10px #ff0000;

}



.gray-glow {
    border: 4px solid #6e6e6e;
    box-shadow: 0 0 10px #332e2e;

}











